.container{
position: relative;
background: black;
width: 1349px;
height: 2942px;
}

.title{
position: absolute;
left: 41.94%;
right: 41.89%;
top: 1.22%;
bottom: 97.48%;

font-family: 'Cormorant Garamond';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;

color: #FEFEFE;

}